
<div class="add-words">
  <input
    [(ngModel)]="englishInputWord"
    class="add-words__input"
    placeholder="Add English word"
    type="text"
  >
  <input
    [(ngModel)]="ukrainianInputWord"
    class="add-words__input"
    placeholder="Add Ukrainian word"
    type="text"
    >
  <button (click)="submitWordPair()"
    class="button"
  > Submit </button>
</div>

<ul class="display-words">
  <li *ngFor="let wordPair of wordPairs" class="display-words__word-pair">
    <span class="display-words__word-pair__word"> {{ wordPair.englishWord }} </span>
    <span class="display-words__word-pair__word"> {{ wordPair.ukrainianWord }} </span>
    <button class="button" (click)="deleteWordPair(wordPair)"> Delete </button>
  </li>
</ul>