@import 'src/app/styles/colors';

.add-words {
  display: grid;
  grid-template-columns: 1fr 1fr 200px;
  grid-gap: 20px;
  margin: 20px 0;

  &__input {
    padding: 20px;
    width: 100%;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    color: $heavyMetal;
    box-shadow: 0px 0px 5px 2px $porcelain inset;
    outline: none;
  }
}

.display-words {
  display: flex;
  width: 100%;
  flex-direction: column;
  list-style: none;

  &__word-pair {
    display: grid;
    grid-template-columns: 1fr 1fr 200px;
    grid-gap: 20px;
    margin: 20px 0;

    &__word {
      display: block;
      background-color: $porcelain;
      border-radius: 5px;
      padding: 20px;
    }

    .button {
      width: 50%;
      margin-left: auto;
    }
  }
}


@import 'https://fonts.googleapis.com/css?family=Lily+Script+One';
body {
  background: #eee;
  font-family: 'Lily Script One';
}